* {
    box-sizing: border-box;
}

.player-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
    text-align: center;
    height: 30vmin;
    align-items: center;
    padding: 2vmin;
}
