* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.name {
    font-family: 'Times New Roman', Times, serif;
}

.red {
    background-color: red;
}

.card {
    border-style: double;
    border-radius: 10%;
    border-color: black;
    text-align: center;
    height: 10vmin;
    margin: 2vmin;
}