* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.name {
    font-family: 'Times New Roman', Times, serif;
}

.red {
    background-color: red;
}

.create-card {
    display: flex;
    flex-direction: column;
    border-style: double;
    border-radius: 10%;
    border-color: black;
    text-align: center;
    width: 20vmin;
    /* height: 10vmin; */
    margin: 2vmin;
}

.player-divs {
    display: flex;
}