* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-top: 10vmin;
}

.name {
    font-family: 'Times New Roman', Times, serif;
}

.red {
    background-color: red;
}

.create-card {
    display: flex;
    flex-direction: column;
    border-style: double;
    border-radius: 10%;
    border-color: black;
    text-align: center;
    width: 20vmin;
    /* height: 10vmin; */
    margin: 2vmin;
    padding: 3vmin;
}

.player-divs {
    display: flex;
    justify-content: center;
}

.forward-divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-top: 10vmin;
}

h3 {
    margin-top: 10vmin;
}

.team-name {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .forward-divs {
        display: flex;
        flex-direction: column;
    }
}